
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model UserViewModel
<table class="table table-striped">
    <thead>
        <tr>
            <th>UserName</th>
            <th>Phone Number</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
       
            <tr>
                <td>@Model.UserName</td>
                <td>@Model.PhoneNumber</td>
                <td>@Model.Email</td>
            </tr>
    </tbody>
</table>
