
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model UserViewModel

<div class="row">
    <div class="col col-4">
        <user-picture-thumbnail picture-url="@Model.PictureUrl" style="height:250px;"></user-picture-thumbnail>
    </div>
    <div class="col col-6"></div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>UserName</th>
            <th>Phone Number</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
       
            <tr>
                <td>@Model.UserName</td>
                <td>@Model.PhoneNumber</td>
                <td>@Model.Email</td>
            </tr>
    </tbody>
</table>
