
@{
    ViewData["Title"] = "resetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
@model ForgetPasswordViewModel
<div class="row">
    <div class="col-md-6 offset-md-3">
        @if(TempData["Success"] !=null)
        {
            <div class="alert alert-warning" role="alert">
            @TempData["Success"]
            </div>
        }
        <h2>Sıfre Yenileme</h2>
        <hr />
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        <form method="post">
            <div class="row mb-3">
                <div class="col-md-8">
                    <p class="text-secondary text-center">Sifre Yenileme Linki Almak Istediginiz Email Hesabi :</p>
                    <label for="Email" class="col-md-4 col-form-label" asp-for="Email"></label>
                    <input asp-for="Email" class="form-control">
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Gonder</button>
        </form>
    </div>
</div>
